/* About me Page */
.about-page {
  height: 970px;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: linear-gradient(to bottom right, rgba(27, 31, 45, 0.2), rgba(27, 31, 45, 0.2)), url("../image/background.jpg");
}
/* About me page header*/
.about-page h1{
  font-size: 6em;
  font-weight: bold;
  text-align: center;
  color: #f9d6ed;
  margin-bottom: -2.0em;
  padding-top: 1em;
  font-family: 'Open Sans Condensed', sans-serif;
}

.about-page a{
  color:white;
  text-decoration: underline;
}
.about-page a:hover{
  color: #f9d6ed;
  text-decoration: underline;
}
/* grid on about me page and additional specifications for columns*/
.about{
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid-gap: 2em; */
  grid-auto-rows: 700px;
}
.columns1{
  /* border: solid; */
  border-width: 8px;
  /* border-color: white; */
  /* background-color: #f9d6ed; */
  background: rgba(31, 31, 59, 0.5);
  display: block;
  margin-top: 12em;
  margin-left: 21em;
  padding-right: 8em;
  padding-left: 9em;
}

.columns1 h2{
  padding-top: 1.5em;
  margin-bottom: 1em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #f9d6ed;
  text-align: center;
  font-size: 3.2em;
}
.columns1 img{
  border: solid;
  border-color: #f9d6ed;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.columns2{
  /* border: solid; */
  /* border-color: white; */
  /* background-color: white; */
  background: rgba(31, 31, 59, 0.5);
  display: block;
  margin-top: 10em;
  margin-right: 20em;
  padding: 3em;
  padding-bottom: 12em;
  /* text-align: center; */
  color: #f9d6ed;
  font-size: 1.2em;
}
