.landing-page {
  height: 970px;
  /* max-width: 100%; */
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: linear-gradient(to bottom right, rgba(27, 31, 45, 0.2), rgba(27, 31, 45, 0.2)), url("./image/landing-page.jpg");
  font: black;
}
.about-me{
  height:970px;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: tan;
  font: black;
}
.columns1{
  float: left;
  border: solid;
  background-color: white;
  margin-top: 12em;
  margin-left: 20em;
  padding: 12.5em;
  padding-bottom: 15em;
}
.columns2{
  float: right;
  border: solid;
  background-color: white;
  margin-top: 12em;
  margin-right: 20em;
  padding: 3.5em;
  padding-bottom: 17.7em;
}
.item{
  padding: 12em;
}
