.landing-page {
  height: 1070px;
  opacity: 0.4;
  background-size: 2150px;
  background-repeat: no-repeat;
  background-image:  linear-gradient(to bottom right, rgba(27, 31, 45, 0.2), rgba(27, 31, 45, 0.2)), url("./image/landing-page.jpg");
}
